<div class="form-group text-center m-b-0">
    <a href="@Url.Action("Signin", "User")">Login to portal</a>
    &nbsp;|&nbsp;
    <a href="@Url.Action("Signup", "User")">Create new account</a>
    &nbsp;|&nbsp;
    <a href="@Url.Action("Restore", "User")">Reset password</a>
</div>