@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Form submission failed because of the following error(s)</strong>
        @Html.ValidationSummary()
    </div>
}